* {
  font-family: Helvetica, 'Times New Roman', sans-serif;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  padding-left: 2em;
}

.link-right {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 3em;
}

.hlink,
.main-title {
  font-size: 18px;
  color: #E5E7EB;
}

.main-1 {
  outline: red solid;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
}

button {
  background-color: #3882f6;
  color: #E5E7EB;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 25px;
  border: none;
  font-weight: bold;
}

.left-side {
  max-width: 600px;
}

img {
  width: 400px;
  height: 200px;
  object-fit: stretch;
}